span.welcome{
    background-color:black;
    color:white;
    padding:10px;
}
#sizeImage{
    width: 10%;
}
.brand{
    font-weight: bold;
    margin-left: 5px;
    padding: 8px;
    background-color: rgb(240, 149, 164);
    border-bottom: 5px solid black;
}
form{
    border: 3px solid rgb(0, 0, 0);
    width: 700px;
    height: 550px;
    margin-left: 70px;
}
.cont{
   width: 700px; 
   margin-left: 15px;
}

#Allergies,#DeliveryTime,#Type,#Count,#CustomerName,label
{
    margin-left: 15px;
    width: 96%; 
}
input{
   height: 40px; 
}
select{
   border: none; 
   height: 40px; 
   background-color: rgb(240, 149, 164);
}

#submit{
    margin-left: 15px;
}
.a{
    margin-bottom: 20px;
}
.timer{
 background-color: rgb(240, 149, 164);
 border-bottom: 5px solid black;
}
.red{
    background-color: rgb(219, 37, 37);
}
.orange{
    background-color: orange;
}
.green{
    background-color: rgb(158, 235, 44);
}
#submit{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100px;
}
@media(max-width:1200px){
 
    .cont{
        width: 900px; 
        margin:auto;
     }
     form{
        margin-left: 60px;
        width: 900px;
        height: 600px;
        margin-bottom: 70px;
        margin-top: 50px;
    }
    .timer{
        margin: 50px;
       }
}   
